$results-background: #F5F5F5;

div {
  
  
  .results {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid #D8D8D8;
    width: 50%;
    height: auto;
    background-color: $results-background;
    margin: 2rem auto;
    padding: 2rem;
    margin-bottom: 10rem;
  }
  
  .__json-pretty__ {
    background-color: $results-background;
  }

  
}


