header {
  background-color: #293e60;
  color: #bec3cd;
  height: 8rem;

  nav ul {
    display: flex;
    list-style-type: none;

    li {
      margin-left: 3rem;
    }
  }
}

h1 {
  font-size: 4rem;
  margin: 0;
}
