form {
  width: 90%;
  height: 5rem;
  margin: 0;
  padding: 0;

  .url-input {
    width: 75%;
  }
  
  
  input[type="radio"] {
    display: none;
    height: 1px;
    margin: 5px;
    width: 1px;
  }
    .method {
      background: gray;
      border: 1px solid #ccc;
      border-radius: 5px;
      cursor: pointer;
      margin-right: .5rem;
      padding: 0 1rem;
      line-height: 2rem;
      height: 2rem;
    }

    .method:hover, .method:true {
      background: #ccc;
    }

  
  

}


