form {
  border: 1px solid gray;
  height: 10rem;
  margin-top: 2rem;
  padding: 2rem;
  
  
  .json-pretty {
    background-color: white;
  }
}

.ouput {
  height: 50vh;
  margin: 2rem;
  border: solid 1px gray;
}

