$background: #EEEEEE;

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;

}
body {
  font-family: sans-serif;
  display: flex;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: $background;

  #root{
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  main {
    display: flex;
    flex: 1;
    padding: 1rem;
  }
  

}

h3 {
  font-size: 2rem;
}
